[Unit]
Description=Trees Frontend Application
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/trees-frontend
ExecStart=npm run start
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
